body {
	--timberwolf: #dbd8d4;
	--blumine: #1b697e;
	--rangitoto: #2d2c21;
	--titan-white: #fefeff;
	--rolling-stone: #72777a;
	--glacier: #84b7c9;
	--baltic-sea: #2f2e34;
	--glacier: #6da9bd;
	--drover: #fdf6ae;
	--boston-blue: #3a97aa;
	--aqua-blue: #2596be;
}
